<h1>Smart Bubble Help</h1>
<p>To fix this page go to app/views/help/index.html.erb</p><br />


<p>In order to log in as an administrator and be able to create other users<br/>
please use the credentilas below</p><br />

<b> Username: admin <br />
    Password: administrator<br />
