<h1>Editing survey</h1>

<%= render 'form' %>
<<<<<<< HEAD
<p><%= link_to 'add questions', new_survey_question_path(@survey) %> </p><br />
=======

>>>>>>> 2b330685dfc098fc7af63fc3bc824d362e52e495
<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
