<h1>About Smart Bubble</h1>
<p>Find me in app/views/about/index.html.erb</p><br/>
Smart Bubble is a simple web based interface that provides a medium <br/> 
to process questionnaires and surveys forms. The application also <br/>
contains templates that can be used to personalize questions <br/>
according to the needs of the user. The application also guarantees <br/>
a flexible, secure and easily usable environment with an extra feature <br/>
that produces statistical data, both graphically and numerically.